/* Estilos Gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-padrao: white;
    --color-padrao1: #F2B807;
    --color-padrao2: #D97D0D;
    --color-padrao3: #D90404;
    --color-padrao4: #8C0303;
    --color-padrao5: #590202;
} 

body{
    background-color: var(--color-padrao);
}

/* Header */
header{
    background-color: var(--color-padrao1);
}
.container{
    display: flex;
    flex-direction: row;
    margin: 0px 10px 10px 10px;
}
/* Main */

main{

}

/* Footer */

footer {
    background-color: var(--color-padrao1);
    padding-top: 20px;
    min-height: 50px;
}

.footer_container {
    width: 1400px;
    margin: auto;
    display: flex;
    justify-content: center;
}

.footer_content {
    width: 33.3%;
}

.footer_text {
    margin: auto;
    width: 190px;
    padding: 5px;
}

h3 {
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
}

.footer_content ul {
    text-align: center;
}

.footer_content-strong {
    text-decoration: var(--color-padrao5);
}

li {
    text-decoration: none;
    list-style-type: none;
}

.footer_list li {
    width: auto;
    text-align: center;
    list-style-type: none;
    padding: 7px;
    position: relative;
}

.footer_list li::before {
    content: '';
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 100%;
    width: 0;
    height: 2px;
    background: var(--color-padrao5);
    transition-duration: .5s;
}

.footer_list li:hover::before {
    width: 70px;
}

.social_icons {
    text-align: center;
}

.social_icons li {
    display: inline-block;
    text-align: center;
    padding: 5px;
}

.social_icons i {
    color: var(--color-padrao6);
    font-size: 25px;
}

a {
    text-decoration: none;
    color: var(--color-padrao6);
}

a:hover {
    color: var(--color-padrao5);
    text-decoration: var(--color-padrao4);
}

.social_icons i:hover {
    color: var(--color-padrao5);
}

.footer_bottom {
    background: var(--color-padrao6);
    text-align: center;
    padding: 5px 0;
    margin-top: 20px;
}

.footer_bottom p {
    color: #343434;
    margin: 0;
    font-size: 16px;
}